<div class="section-icon">
  <i class="material-icons">{{icon}}</i>
</div>
<div class="section-content">
  <ul class="section-list">
    <li class="section-item" data-ng-repeat="item in section">

      <div class="date-locale">
        <div class="date"><span>{{getYear(item.date)}}</span></div>
        <div class="locale">{{item.location}}</div>
      </div>

      <div class="body">
        <div class="details">
          <div class="name">{{item.awarder}}</div>
          <div class="position">{{item.title}}</div>
        </div>
        <ul class="results">
          <li class="result-item" data-ng-repeat="summary in item.summary">
            <div class="result-data">{{summary}}</div>
          </li>
        </ul>
      </div>

    </li>
  </ul>
</div>
