<div class="section-icon">
  <i class="material-icons">contacts</i>
</div>
<div class="section-content">
  <div class="avatar-placeholder">
    <!--
    <img src="images/avatar.jpg" class="avatar"/>
    -->
    <a href="{{section.website}}"><qrcode data="{{section.websiteQR}}" href="{{section.websiteQR}}" size="88"></qrcode></a>
  </div>
  <div class="title">
    <div class="name">{{section.name}}</div>
    <div class="position">{{section.label}}</div>
  </div>

  <div class="contact">

    <ul class="contact-list">
      <li id="location" class="contact-item" ng-if="section.location">
        <div class="contact-icon">
          <i class="material-icons">place</i>
        </div>
        <div class="contact-content">{{section.location}}</div>
      </li>
      <li id="address" class="contact-item" ng-if="section.address && !section.location">
        <div class="contact-icon">
          <i class="material-icons">home</i>
        </div>
        <div class="contact-content">
          <div>{{section.address.address}}</div>
          <div><span>{{section.address.city}}</span>, <span>{{section.address.postalCode}}</span></div>
        </div>
      </li>
      <li class="contact-item">
        <div class="contact-icon">
          <i class="material-icons">phone</i>
        </div>
        <div class="contact-content">{{section.phone}}</div>
      </li>
      <li class="contact-item">
        <div class="contact-icon">
          <i class="material-icons">email</i>
        </div>
        <div class="contact-content">{{section.email}}</div>
      </li>
      <li class="contact-item">
        <div class="contact-icon">
          <i class="material-icons">share</i>
        </div>
        <div class="contact-content">{{section.profiles[0].username}}</div>
      </li>
    </ul>
  </div>

</div>
