<div class="section-icon">
  <i class="material-icons">contacts</i>
</div>
<div class="section-content">
  <div class="title">
    <span class="name">{{section.name}}</span>
    <span class="position">{{section.label}}</span>
  </div>

  <div class="contact">

    <ul class="contact-list">
      <li class="contact-item">
        <div class="contact-icon">
          <i class="material-icons">phone</i>
        </div>
        <div class="contact-content">{{section.phone}}</div>
      </li>
      <li class="contact-item">
        <div class="contact-icon">
          <i class="material-icons">email</i>
        </div>
        <div class="contact-content">{{section.email}}</div>
      </li>
    </ul>
  </div>

</div>
