<!-- HEADER -->
<header-section id="header" class="header section" section="resume.basics"></header-section>

<!-- WORK SECTION -->
<work-section id="work" class="section" get-full-year="getFullYear" icon="work"
                section="resume.work"></work-section>

<!-- EDUCATION SECTION -->
<education-section id="education" class="section" get-full-year="getFullYear" icon="school"
                section="resume.education"></education-section>

<!-- SKILLS SECTION-->
<div id="skills" class="section">
  <div class="section-icon">
    <i class="material-icons">poll</i>
  </div>
  <div id="work-skills" class="section-content">
    <ul class="section-list">
      <li class="section-item skill-list" ng-repeat="skill in resume.skills">
        <div class="skill-name">
          <span>{{skill.name}}</span>
        </div>
        <div class="skill-stars">
          <div class="filled-stars" ng-repeat="filledStar in getFilledStars(skill.level) track by $index">
            <i class="material-icons">star</i>
          </div>
          <div class="unfilled-stars" ng-repeat="filledStar in getUnfilledStars(skill.level) track by $index">
            <i class="material-icons">star_border</i>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div id="personal-skills" class="list-disc section-content">
    <ul class="section-list">
      <li class="section-item skill-list" ng-repeat="skill in resume.personalSkills">
        <div class="skill-name">
          <span>{{skill}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- for printing purposes -->
<div class="page-padding"></div>
<header-mini-section id="header-mini" class="header-mini section" section="resume.basics"></header-mini-section>
<!-- for printing purposes -->

<!-- PUBLICATION SECTION -->
<publication-section id="publication" class="section" get-full-year="getFullYear" icon="folder_special"
                     section="resume.publications"></publication-section>

<!-- VOLUNTEER SECTION -->
<volunteer-section id="volunteer" class="section" get-full-year="getFullYear" icon="supervisor_account"
                section="resume.volunteer"></volunteer-section>

<!-- ACHIEVEMENTS SECTION -->
<awards-section id="awards" class="section" get-full-year="getFullYear" icon="stars"
                section="resume.awards"></awards-section>


<!-- INTERESTS SECTION -->
<div id="interests" class="list-disc section">
  <div class="section-icon">
    <i class="material-icons">color_lens</i>
  </div>
  <div class="section-content">
    <ul class="section-list">
      <li class="section-item" ng-repeat="interest in resume.interests">
        <span class="interest-name">{{interest.name}}</span>
      </li>
    </ul>
  </div>
</div>


<!-- REFERENCES -->
<reference-section id="references" class="section"></reference-section>
