<div class="section-icon">
  <i class="material-icons">assignment_turned_in</i>
</div>
<div class="section-content">
  <div class="references" layout="row">
    <div class="reference" flex ng-repeat="reference in resume.references">
      <div>
        <span class="name">{{reference.name}}</span>,
        <span class="position">{{reference.position}}</span>
      </div>
      <div class="company">{{reference.company}}</div>
      <div class="address">{{reference.address[0]}}</div>
      <div class="address">{{reference.address[1]}}</div>
      <div>{{reference.phone}}</div>
      <div>{{reference.email}}</div>
    </div>
  </div>
</div>
